@{
    ViewData["Title"] = "Home Page";
}

<style>
    .user-item{
        cursor: pointer
    }

    .user-item:hover {
        background-color: lightgray;
    }

    .status {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        margin-left: 5px;
    }
</style>
<link rel="stylesheet" href="~/css/chat-modal.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <h2>Danh sách bạn bè</h2>
        @foreach (var friend in ViewBag.Friends)
        {
            <div class="user-item d-flex align-items-center p-2 rounded-3" onclick="OpenChat(@friend.Friend1Navigation.Id  )">
                <div class="position-relative me-3">
                    <img src="@friend.Friend1Navigation.Avatar"
                    alt="Avatar of @friend.Friend1Navigation.Name" 
                    class="rounded-circle" 
                    width="30" height="30"> 
                    <div class="status rounded-circle border border-white border-2 position-absolute bottom-0 end-0 "></div>
                </div>
                <span>@friend.Friend1Navigation.Name</span>
            </div>
        }
    </div>
</div>

<div id="chat-modal" class="chat-modal position-fixed">
</div>
<script src="~/js/chat-modal.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js" ></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/signalRService").build();
    connection.start().then(function () {
    
     console.log("currentUser "+ currentUser + "id " + connection.connectionId);
    });
    var currentUser = @Context.Session.GetString("User");

    connection.on("SendMessageTo", function (reciver) {
        console.log("Send to" + `${reciver}`);
        if(reciver != currentUser) LoadChatData(reciver,false);
	});

     connection.on("ReceiveMessageFrom", function (sender) {
        console.log("Receive from" + `${sender}`);
        if(sender != currentUser) LoadChatData(sender,true);
    });
</script>

