@using Newtonsoft.Json
@{
    var userJson = Context.Session.GetString("UserFull");
    User user = new User { Name = "Unknown" };

    if (!string.IsNullOrEmpty(userJson))
    {
        try
        {
            user = JsonConvert.DeserializeObject<User>(userJson);
        }
        catch (JsonException ex)
        {
            Console.WriteLine($"Error deserializing user: {ex.Message}");
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialMedia.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        .header-icon {
			cursor: pointer;
        }

        .header-icon-child{
            height: 40px;
            align-content: center;
            text-align: center;
        }

        .popup-messenger {
            position: absolute;
            top: 53px;
            right: 32px;
            background: white;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: none;
            width: 250px;
            height: fit-content;
            z-index: 1000;
        }

        .popup-notification {
            position: absolute;
            top: 53px;
            right: 32px;
            background: white;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: none;
            width: 250px;
            height: fit-content;
            z-index: 1000;
        }

        .popup-menu {
            position: absolute;
            top: 45px;
            right: 0;
            background: white;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: none;
            width: 200px;
            z-index: 1000;
        }

        .element-menu {
            display: block;
            padding: 8px 12px;
            text-decoration: none;
            color: black;
        }

        .element-menu:hover {
            background: #f0f0f0;
        }

        .element-noti {
            display: block;
            padding: 8px 12px;
            text-decoration: none;
            color: black;
        }

        .element-noti:hover {
            background: #f0f0f0;
        }

        .status-messager {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        .content-message-noti{
            font-size: 12px;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
        }

        #unreadCount {
            font-size: 0.75rem;
            width: 18px;
            height:18px;
            top: -5px;
            right: -5px;
        }

    </style>
    <link rel="stylesheet" href="~/css/chat-modal.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="relative  p-2 navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="row">
                <div class="col-6 d-flex">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SocialMedia</a>
                    <div class="search-wrapper">
                        <div class="search-box">
                            <i class="fas fa-search search-icon"></i>
                            <input type="text" class="form-control search-input" placeholder="Search anything...">
                            @* <button class="btn btn-primary search-button">
                                Search
                            </button> *@
                        </div>
                    </div>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
              
                <div class="navbar-collapse collapse d-sm-inline-flex  col-6">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="header-icon nav-item me-2 icon" id="messenger">
                            <div class="position-relative">
                                <div class="header-icon-child rounded-circle bg-primary nav-link">
                                    <i class="fa-brands fa-facebook-messenger fa-xl" style="color: #ffffff;"></i>
                                </div>
                                <div id="unreadCount" class="position-absolute rounded-circle rounded-2 bg-danger text-white text-center d-none ">
                                    0
                                </div>
                            </div>
                            <div class="popup-messenger" id="popupMess">
                                <div class="element-mess">
                                    <i class="fa-solid fa-user text-primary me-2"></i> @(user.Name) Message
                                </div>
                            </div>
                        </li>
                        <li class="header-icon nav-item me-2 icon" id="notification">
                            <div class="header-icon-child icon rounded-circle bg-primary nav-link text-center">
                                <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;"></i>
                            </div>
                            <div class="popup-notification" id="popupNoti">
                                <div class="element-noti">
                                    <i class="fa-solid fa-user text-primary me-2"></i> @(user.Name) notifi
                                </div>
                            </div>
                        </li>
                        <li class="header-icon position-relative nav-item me-4 icon"  id="avatar">
                            <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-1/468506906_1256036072118428_4942223550658486191_n.jpg?stp=dst-jpg_s160x160_tt6&_nc_cat=111&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeEQK9c8Erk1osghBe-iLGTP80y1j86jgnDzTLWPzqOCcFp43_soIcOH-SgZ2N1HPKfjF5lDVXpHz2u2WvwKRG5e&_nc_ohc=GB939LK-t34Q7kNvgGRvf9L&_nc_oc=AdgxbWMGiXHhyTlRr_YGGfGmn1hX3MfE_qQhw7nLUhEzBT-TIgelKSCH50Bm5tirjdE&_nc_zt=24&_nc_ht=scontent.fhan2-3.fna&_nc_gid=AvOa-MJxldx4G5B-kOTIAYb&oh=00_AYA301JdzzDjc3e9NgEESn8yVKio84xIRf-WVtR6GB-piw&oe=67B87545"
                                 alt="Avatar of user"
                                 class="rounded-circle "
                                 width="40" height="40">
                            <div class="user-icon rounded-circle border border-white border-2 position-absolute bottom-0 end-0 d-flex align-items-center justify-content-center ">
                                <i class="fa-solid fa-angle-down fa-2xs text-white" ></i>
                            </div>
                            <div class="popup-menu" id="popupMenu">
                                <div class="element-menu">
                                    <i class="fa-solid fa-user text-primary me-2"></i> @(user.Name)
                                </div>
                                <div class="element-menu">
                                    <i class="fa-solid fa-right-from-bracket text-secondary me-2"></i> Logout
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div id="chat-modal" class="chat-modal position-fixed"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/chat-modal.js" asp-append-version="true"></script>
    <script src="~/js/header.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/signalRService").build();
        connection.start().then(function () {

            console.log("currentUser "+ currentUser + "id " + connection.connectionId);
        });
        var currentUser = @Context.Session.GetString("User");

        connection.on("SendMessageTo", function (reciver) {
            console.log("Send to" + `${reciver}`);
            if(reciver != currentUser) LoadChatData(reciver,false);
        });

        connection.on("ReceiveMessageFrom", function (sender) {
            console.log("Receive from" + `${sender}`);
            FetchNumberMessage();
            if(sender != currentUser) LoadChatData(sender,true);
        });
    </script>
</body>
</html>
